# Packages
node_modules/
.yarn/install-state.gz

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env

# Dist
dist/
typings/
docs/

# Miscellaneous
.tmp/
coverage/
.vitest/
tsconfig.tsbuildinfo
